<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="workload"   type="Application.Configuration.WorkloadConfigurationSection"/>
		<section name="monitoring" type="ceraslabs.hogna.configuration.MonitorConfigurationSection"/>
		<section name="topology"   type="ceraslabs.hogna.configuration.TopologyConfigurationSection" />
		<section name="ec2"        type="Framework.Cloud.EC2.EC2ConfigurationSection" />
		<section name="executor"   type="ceraslabs.hogna.configuration.ExecutorConfigurationSection" />
	</configSections>

	<topology name="Awesome Cloud" keypair="" id="">
		<cluster name="Web Cluster" id="Cluster Web 624F1F47-87F4-4a98-A90D-25C024E31454">
			<node name="Web Balancer" id="" type="balancer" ami="ami-05eebb6c" publicIP="" privateIP="" size="m1.large" security="corba" region="us-east-1c">
				<container name="Apache 2" id="">
					<service name="proxy_balancer" id="apache-proxy-balancer" />
				</container>
			</node>
			<node name="Web Host" id="" type="worker" ami="ami-05eebb6c" publicIP="" privateIP=""  size="m1.xlarge" security="corba" region="us-east-1c">
				<container name="Tomcat 6" id="">
					<service name="Simple Database Operations" id="tomcat-simple-database-operations" />
				</container>
			</node>
		</cluster>
		<cluster name="Database Cluster" id="Cluster Database 48EFA43F-B038-4ac3-BB03-FA07EECB93D3">
			<node name="Data Host: Asgard" id="" type="worker" ami="ami-05eebb6c" publicIP="" privateIP=""  size="m1.small" security="corba" region="us-east-1c">
				<container name="Mysql" id="">
					<service name="Simple Database" id="mysql-simple-database-operations" />
				</container>
			</node>
		</cluster>
		<dependencies>
			<!-- Connect "Simple Database Operations" app to MySql -->
			<dependency from="tomcat-simple-database-operations" to="mysql-simple-database-operations" />
			<!-- Connect Load Balancer to Tomcat -->
			<dependency from="apache-proxy-balancer" to="tomcat-simple-database-operations" />
		</dependencies>
	</topology>

	<ec2>
		<configHelpers>
			<helper serviceId="mysql-simple-database-operations"  type="Framework.Cloud.EC2.ConfigHelperMySql" />
			<helper serviceId="tomcat-simple-database-operations" type="Framework.Cloud.EC2.ConfigHelperSDO" />
			<helper serviceId="apache-proxy-balancer"             type="Framework.Cloud.EC2.ConfigHelperLoadBalancerWithProxy" />
		</configHelpers>
	</ec2>
	
	<executor>
		<actuators>
			<actuator type="ceraslabs.hogna.executor.actuators.SshActuator" commands="ssh.tomcat6.set-threads">
				<ssh:SshActuator xmlns:ssh="ceraslabs.hogna.executor.actuators.SshActuator">
					<ssh:credUser>ubuntu</ssh:credUser>
					<ssh:credPrivateKeyFile>AwsPrivate.key</ssh:credPrivateKeyFile>
					<ssh:conRetries>2</ssh:conRetries>
					<ssh:conWaitRetry>1000</ssh:conWaitRetry>
				</ssh:SshActuator>
			</actuator>
			<actuator type="Framework.Cloud.EC2.EC2Manager" commands="cloud.ec2.build-topology, cloud.ec2.scale-cluster">
				<ec2:Ec2Actuator xmlns:ec2="ceraslabs.hogna.executor.actuators.Ec2Actuator">
				    <ec2:keypairName          >Autonomic Key [Cornel]</ec2:keypairName>
				    <ec2:keypairPrivateKeyFile>./config/AwsPrivate.key</ec2:keypairPrivateKeyFile>
				    <ec2:keypairPublicKeyFile >./config/AwsPublic.key</ec2:keypairPublicKeyFile>
				    <ec2:credFile             >./config/AwsCredentials.properties</ec2:credFile>
				</ec2:Ec2Actuator>
			</actuator>
			<actuator type="ceraslabs.hogna.executor.actuators.SaviActuator"   commands="cloud.savi.build-topology, cloud.savi.scale-cluster" />
			<actuator type="ceraslabs.hogna.executor.actuators.VirnetActuator" commands="cloud.virnet.build-topology, cloud.virnet.scale-cluster" />
			<actuator type="ceraslabs.hogna.executor.actuators.DummyActuator"  commands="cloud.build-topology, cloud.scale-cluster" />
		</actuators>
	</executor>

	<monitoring>
		<add key="cheie" value="valoare" />
		<loaders>
			<loader type="cloud watch" value="Framework.Cloud.EC2.CloudWatchMonitorLoader" />
		</loaders>
		<monitors>
			<monitor name="CPUUtilization" type="cloud watch">
				<description>
					Gets the CPU utilization of an instance.
				</description>
				<credentials file="./config/AwsCredentials.properties" />
			</monitor>
		</monitors>
	</monitoring>

</configuration>