<?xml version="1.0"?>
<!DOCTYPE Config SYSTEM "Kalman Filter.dtd">
<Config>
	<Settings>
		<Add key="modelFile" value="./input/BW-Simple DB Operations.model.pxl" />
		<Add key="modelResultsFile" value="./output/BW-SimpleDBAppKalmanResults.xml" />
		<Add key="traceFile" value="./output/BWSimpleDBApp.estimator.trace" />
		<Add key="iterationsMax" value="40" />
		<Add key="modelUpdate" value="true" />
	</Settings>

	<!-- THIS is z for the filter -->
	<MeasuredMetrics>

		<!-- <MeasuredMetric name="CpuUtil_Proxy" description="Measured CPU utilization on Proxy." default="0.6300" /> --> 
		<MeasuredMetric name="CpuUtil_LB" description="Measured CPU utilization on LoadBalancer." default="0.6300" />
		<MeasuredMetric name="CpuUtil_Web" description="Measured CPU utilization on WebHost." default="0.6300" />
		<MeasuredMetric name="CpuUtil_Db" description="Measured CPU utilization on DataHost." default="0.1016" />

		<MeasuredMetric name="ResponseTimeSelect0" description="The response time for scenario select 0." default="70.0613" />
		<MeasuredMetric name="ThroughputSelect0" description="The throughput for scenario select 0." default="0.0013575" />
		<MeasuredMetric name="ResponseTimeSelect1" description="The response time for scenario select 1." default="70.0613"/> 
		<MeasuredMetric name="ThroughputSelect1" description="The throughput for scenario select 1." default="0.0013575"/>
	</MeasuredMetrics>

	<!-- THIS is y for the filter; note that the names are the same as for z; 
		keep the same order as for z -->
	<EstimatedMetrics>
		<!-- In the results of the model (after the model is solved) type = {Utilization, 
			Users, ThinkTime, Throughput, ResponseTime} type = Utilization - /Results/Architecture/Workloads/Node[name=<parent>]/<elementName>/Utilization/? 
			type = ResponseTime - /Results/Architecture/Workloads/Scenario[name=<scenario>]/ResponseTime/? 
			- /Results/Architecture/Workloads/Service[name=<elementName>]/PerScenarioResponseTime[scenario=<scenario>]/@value 
			type = Throughput - /Results/Architecture/Workloads/Scenario[name=<scenario>]/Throughput/? -->

		<!--<EstimatedMetric name="CpuUtil_Proxy" xPath="/Results/Architecture/Workloads/Node[@name='ProxyHost']/CPU/Utilization/text()" scale="1" /> --> 
		<EstimatedMetric name="CpuUtil_LB" xPath="/Results/Architecture/Workloads/Node[@name='LBHost']/CPU/Utilization/text()" scale="1" />
		<EstimatedMetric name="CpuUtil_Web" xPath="/Results/Architecture/Workloads/Node[@name='WebHost']/CPU/Utilization/text()" scale="1" />
		<EstimatedMetric name="CpuUtil_Db" xPath="/Results/Architecture/Workloads/Node[@name='DataHost']/CPU/Utilization/text()" scale="1" />

		<EstimatedMetric name="ResponseTimeSelect0" xPath="/Results/Architecture/Workloads/Scenario[@name='select 0']/ResponseTime/text()" scale="1" />
		<EstimatedMetric name="ThroughputSelect0" xPath="/Results/Architecture/Workloads/Scenario[@name='select 0']/Throughput/text()" scale="1" />
		<EstimatedMetric name="ResponseTimeSelect1" xPath="/Results/Architecture/Workloads/Scenario[@name='select 1']/ResponseTime/text()" scale="1"/> 
		<EstimatedMetric name="ThroughputSelect1" xPath="/Results/Architecture/Workloads/Scenario[@name='select 1']/Throughput/text()" scale="1"/>
	</EstimatedMetrics>

	<!--This is X, THESE ARE THE ESTIMATED PARAMETERS... -->
	<ModelParameters>
		<!-- Model/Scenarios/Scenario[name=<scenario>]/Call[calee=<elementName>]/Demand[<parameterName>=?] -->
		<!-- Here we define one proxy for both scenarios -->
<!-- 		<ModelParameter name="CPUDemand_Proxy" default="21" scale="1" xPath="/Model/Scenarios/Scenario/Call[@callee='ProxyServer']/Demand/@CPUDemand"/> -->
		<ModelParameter name="CPUDemand_LB" default="1.4" scale="1" xPath="/Model/Scenarios/Scenario/Call[@callee='LBServer']/Demand/@CPUDemand" />
		
		<!-- <ModelParameter name="CPUDemand_Proxy" default="0.01018" scale="1" xPath="/Model/Scenarios/Scenario[@name='select 0']/Call[@callee='ProxyServer']/Demand/@CPUDemand" /> --> 
		<ModelParameter name="CPUDemand_Web_S0" default="0.64" scale="1" xPath="/Model/Scenarios/Scenario[@name='select 0']/Call[@callee='WebServer']/Demand/@CPUDemand" />
		<ModelParameter name="CPUDemand_Db_S0" default="0.62" scale="1" xPath="/Model/Scenarios/Scenario[@name='select 0']/Call[@callee='Database']/Demand/@CPUDemand" />
		<ModelParameter name="CPUDemand_Cloud_S0" default="12.6" scale="1" xPath="/Model/Scenarios/Scenario[@name='select 0']/Call[@callee='CloudDelay0']/Demand/@CPUDemand" />
<!-- 		<ModelParameter name="CPUDemand_DS_S0" default="12" scale="1" xPath="/Model/Scenarios/Scenario[@name='select 0']/Call[@callee='DelayCenter0']/Demand/@CPUDemand" />		-->	
    	<ModelParameter name="CPUDemand_Web_S1" default="14.8" scale="1" xPath="/Model/Scenarios/Scenario[@name='select 1']/Call[@callee='WebServer']/Demand/@CPUDemand" />
		<ModelParameter name="CPUDemand_Db_S1" default="0.0015" scale="1" xPath="/Model/Scenarios/Scenario[@name='select 1']/Call[@callee='Database']/Demand/@CPUDemand" /> 
		<ModelParameter name="CPUDemand_Cloud_S1" default="3673" scale="1" xPath="/Model/Scenarios/Scenario[@name='select 1']/Call[@callee='CloudDelay1']/Demand/@CPUDemand" />
<!-- 		<ModelParameter name="CPUDemand_DS_S1" default="36" scale="1" xPath="/Model/Scenarios/Scenario[@name='select 1']/Call[@callee='DelayCenter1']/Demand/@CPUDemand" /> -->
		
		<!-- <ModelParameter name="CPUDemand_Cloud" default="300" scale="1" xPath="/Model/Scenarios/Scenario/Call[@callee='CloudDelay']/Demand/@CPUDemand" />
		<ModelParameter name="CPUDemand_TCP" default="300" scale="1" xPath="/Model/Scenarios/Scenario/Call[@callee='TCPDelay']/Demand/@CPUDemand" /> -->
		
		
	</ModelParameters>
</Config>